# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment files
.env

# VS Code
.vscode/

# Mac
.DS_Store

# Logs
*.log

# Spark / temp
metastore_db/
spark-warehouse/

# Airflow
airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py

# Jupyter
.ipynb_checkpoints/